<!DOCTYPE html>
<html>
{% load static tailwind_tags %}
{% load google_fonts %}
{% load heroicons %}
<head>
    {% tailwind_css %}
    <title>Chat Prototype</title>
</head>
<body class="font-[Jost] bg-white-200 flex flex-col h-screen antialiased">

    <header class="flex bg-zinc-200 justify-center">
        <nav class="flex gap-3">
            <ul class="flex py-10 justify-center text-lg font-medium divide-x-2">
                <li class="px-5 py-1 border-l-2 border-y-2 border-zinc-400 rounded-l-xl text-zinc-500 hover:bg-zinc-400 hover:text-white transition duration-300 ease-in-out">
                    <a href="/"> Чат</a>
                </li>
                <li class="px-5 py-1 border-y-2 border-zinc-400 text-zinc-500 hover:bg-zinc-400 hover:text-white transition duration-300 ease-in-out">
                    <a href="/members">Участники чата</a>
                </li>
                <li class="px-5 py-1 border-r-2 border-y-2 border-zinc-400 text-zinc-500 rounded-r-xl hover:bg-zinc-400 hover:text-white transition duration-300 ease-in-out">
                    <a href="/info">Информация о чате</a>
                </li>
            </ul>
            <ul class="flex py-10 justify-center text-lg font-medium divide-x-2">
                <li class="px-5 py-1 border-l-2 border-y-2 border-green-400 text-green-500 rounded-l-lg hover:bg-green-400 hover:text-white transition duration-300 ease-in-out">
                    <a href="/sign-up">Регистрация</a>
                </li>

                <li class="px-5 py-1 border-r-2 border-y-2 border-cyan-400 rounded-r-lg text-cyan-500 hover:bg-cyan-400 hover:text-white transition duration-300 ease-in-out">
                    <a href="/sign-in">Войти</a>
                </li>
            </ul>
            <form method="post" action="{% url 'logout' %}"  class="flex py-10 justify-center text-lg font-medium">
                {% csrf_token %}
                <button class="border-2 rounded-md border-red-500 text-red-500 px-5 py-1 hover:text-white transition duration-300 ease-in-out hover:bg-red-500">
                    Выйти из аккаунта
                </button>
            </form>
        </nav>
    </header>

    <div class="p-10 grow py-auto justify-center" >
        {% if latest_messages_list %}
            <div class="flex justify-center">
                <ul class="flex flex-col h-full gap-1">
                    {% for message in latest_messages_list %}
                        <li class="flex">
                            <div class="flex flex-col gap-2 rounded shadow px-2 py-1">
                                <p class="flex">{{ message.text }}</p>
                                <div class="flex flex-row gap-10 justify-between">
                                    <p class="flex text-zinc-500 text-xs">{{ message.user.username }}</p>
                                    <p class="flex text-zinc-500 text-xs">{{ message.time }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="content-center grow py-auto justify-center items-center" >
                <p class="text-4xl text-center text-zinc-500">Сообщений нет</p>
            </div>
        {% endif %}
    </div>
    <footer class="flex bg-zinc-100 justify-center p-10">
        {% if is_user_authenticated %}
        <div class="flex justify-center gap-1">
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <input type="text" name="text" class="p-2 bg-white-100 border-2 rounded-l-lg border-zinc-400 focus:outline-none flex-initial text-zinc-500" placeholder="Сообщение"/>
                <button type="submit" class="flex-none p-2 rounded-r-lg border-2 border-lime-400 text-lime-500 hover:bg-lime-400 hover:text-white transition duration-300 ease-in-out">Отправить</button>
            </form>
        </div>
        {% endif %}
    </footer>
</body>
</html>