<!DOCTYPE html>
<html>
{% load static tailwind_tags %}
{% load google_fonts %}
{% load heroicons %}
<head>
    {% tailwind_css %}
    <title>Chat Prototype</title>
</head>
<body class="font-[Jost] bg-white-200 flex flex-col h-screen antialiased">

    <header class="flex bg-zinc-200 justify-center">
        <nav class="flex gap-3">
            <ul class="flex py-10 justify-center text-lg font-medium divide-x-2">
                <li class="px-5 py-1 border-l-2 border-y-2 border-zinc-400 rounded-l-xl text-zinc-500 hover:bg-zinc-400 hover:text-white transition duration-300 ease-in-out">
                    <a href="/"> Чат</a>
                </li>
                <li class="px-5 py-1 border-y-2 border-zinc-400 text-zinc-500 hover:bg-zinc-400 hover:text-white transition duration-300 ease-in-out">
                    <a href="/members">Участники чата</a>
                </li>
                <li class="px-5 py-1 border-r-2 border-y-2 border-zinc-400 text-zinc-500 rounded-r-xl hover:bg-zinc-400 hover:text-white transition duration-300 ease-in-out">
                    <a href="/info">Информация о чате</a>
                </li>
            </ul>
            <ul class="flex py-10 justify-center text-lg font-medium divide-x-2">
                <li class="px-5 py-1 border-l-2 border-y-2 border-green-400 text-green-500 rounded-l-lg hover:bg-green-400 hover:text-white transition duration-300 ease-in-out">
                    <a href="/sign-up">Регистрация</a>
                </li>

                <li class="px-5 py-1 border-r-2 border-y-2 border-cyan-400 rounded-r-lg text-cyan-500 hover:bg-cyan-400 hover:text-white transition duration-300 ease-in-out">
                    <a href="/sign-in">Войти</a>
                </li>
            </ul>
            <form method="post" action="{% url 'logout' %}"  class="flex py-10 justify-center text-lg font-medium">
                {% csrf_token %}
                <button class="border-2 rounded-md border-red-500 text-red-500 px-5 py-1 hover:text-white transition duration-300 ease-in-out hover:bg-red-500">
                    Выйти из аккаунта
                </button>
            </form>
        </nav>
    </header>

    <div class="grow" >
        <div class="flex flex-col justify-self-center p-10 shadow m-5 gap-5">
            <h1 class="text-3xl">Информация о проекте</h1>
            <p class="flex text-lg">Данный проект является прототипом чата.<br>
                Зарегистрированные участники могут оставлять сообщения.<br>
                А также просматривать участников беседы.
            </p>
        </div>
    </div>

    <footer class="flex bg-zinc-100 justify-center p-10"></footer>
</body>
</html>